[submodule "personal"]
	path = personal
	url = git@personal:aldevv/.dotfiles-personal.git
[submodule "epic"]
	path = epic
	url = git@personal:aldevv/epic.git
[submodule "wiki/.local/share/wiki"]
	path = wiki/.local/share/wiki
	url = git@personal:aldevv/wiki.git
