ilovepdfkey*
.zcompdump*
.auto_aliases
Session.vim
packer_compiled*
__pycache__
general/.config/copyq/*
nvim/.config/nvim/lua/work.lua
!general/.config/copyq/copyq.conf
.DS_Store
zsh/.config/zsh/.zsh_sessions/*
