#!/bin/bash

alias tmux="tmux -f ~/.config/tmux/tmux.conf"
alias v="nvim"
alias srcz=". ~/.config/zsh/.zshrc"
alias srca=". ~/.config/zsh/.aliases"
alias .a="nvim ~/.aliases"
alias .ao="nvim ~/.config/zsh/.aliases"
alias .A="nvim ~/Downloads/ansible/"
alias .At="vf ~/Downloads/ansible/tasks"
alias .AT="nvim ~/Downloads/ansible/TODO"
alias .x="nvim ~/.xprofile"
alias .X="nvim ~/.config/sxhkd/sxhkdrc"
alias .xm="nvim ~/.config/xmonad/xmonad.hs"
alias .z="nvim ~/.config/zsh/.zshrc"
alias .zp="nvim ~/.config/zsh/.zprofile"
alias .V="nvim ~/.dotfiles/nvim/.config/nvim/init.lua"
alias .Vp="vf ~/.dotfiles/nvim/.config/nvim/lua/"
alias .s="nvim ~/.dotfiles/scripts/.local/share/scripts/"
alias .v="cd ~/.dotfiles/nvim/.config/nvim/"
alias xin='xinput map-to-output $(xinput | grep -i "pen pen"| cut -d = -f 2 | cut -d [ -f 1) DP-1'
alias r='ranger .'
alias .d="cd ~/.dotfiles"
alias xmr="xmonad --recompile; xmonad --restart"
alias .dxm="cp ~/.config/xmonad/xmonad.hs ~/.dotfiles/xmonad/.config/xmonad/xmonad.hs"
alias rex="xrandr --output DP-1 --primary --right-of eDP-1 --auto"
alias \?="noglob ?"

GO(){
    w3m "https://pkg.go.dev/search?q=$*"
}

RS(){
    # keybindings for w3m
    # https://cheatsheetfactory.geekyhacker.com/linux/w3m
    w3m "https://doc.rust-lang.org/std/all.html?search=$*"
}

alias \?r="noglob RS"
alias \?g="noglob GO"


# folders
alias pro="cd ~/master/projects/main/"
