[user]
	email = jbernalxyz@gmail.com
	name = Alejandro Bernal
[init]
	defaultBranch = main
[includeIf "gitdir:~/work/"]
    path = ~/work/.gitconfig
[push]
	autoSetupRemote = true
[checkout]
	defaultRemote = origin
[worktree]
	guessRemote = true
[rebase]
	autosquash = true
[commit]
	gpgsign = false
	sshsign = true
[merge]
	tool = nvimdiff2
	conflictStyle = diff3
[alias]
	appraise = !/home/kanon/.local/share/go/bin/git-appraise
[rerere]
	enabled = true
