[user]
	email = jbernalxyz@gmail.com
	name = Alejandro Bernal
[init]
	defaultBranch = main
[includeIf "gitdir:~/work/"]
    path = ~/work/.gitconfig
[push]
	autoSetupRemote = true
[checkout]
	defaultRemote = origin
[worktree]
	guessRemote = true
[rebase]
	autosquash = true
