[user]
	email = jbernalxyz@gmail.com
	name = Alejandro Bernal
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[checkout]
	defaultRemote = origin
[worktree]
	guessRemote = true
[rebase]
	autosquash = true
[commit]
	gpgsign = false
	sshsign = true
[merge]
	tool = nvimdiff2
	conflictStyle = diff3
[alias]
	appraise = !~/.local/share/go/bin/git-appraise
[rerere]
	enabled = true
[includeIf "gitdir:/Users/jbernal1/work/"]
    path = /Users/jbernal1/work/.gitconfig
