snippet _skel "Description" b
{
    "main.py": {
        "type": "main",
        "dispatch": "python {}",
        "template": [
            "def main():\n\tpass\n\n\nif __name__ == '__main__':\n\tmain()"
        ]
    },
    "src/*.py": {
        "alternate": "test/{}.py",
        "type": "src"
    },
    "*": {
        "make": "python {}"
    },
	"requirements.txt": {
        "type": "req"
    },
	"doc/*.txt": {"type": "doc"},
	"README.md": {"type": "doc"}
}
endsnippet
