#!/bin/bash

if [[ -f "$HOME/.config/zsh/.zprofile" ]]; then
  . "$HOME/.config/zsh/.zprofile"
fi


startup() {
  if [[ -z "$DISPLAY" ]]; then
  	return
  fi

  setxkbmap -layout latam -variant colemak &
  xset r rate 600 20 
  remove_dead_keys 
  sleep 0.1
  xmodmap ~/.Xmodmap

  if [[ -f ~/.Xresources ]]; then
    xrdb -merge ~/.Xresources &
  fi

  if command -v copyq &>/dev/null; then
    copyq &
  fi

  if command -v flameshot &>/dev/null; then
    flameshot 2>/dev/null &
  fi

  if command -v sxhkd &>/dev/null; then
    sxhkd &
  fi

  if command -v udiskie &>/dev/null; then
    udiskie --tray &
  fi

  # for my 4k cam
  # if command -v v4l2-ctl &>/dev/null; then
  #   v4l2-ctl -d /dev/video4 -c focus_automatic_continuous=0
  # fi
}
startup


work() {
  if [[ -f "$HOME/.config/.startup_work" ]]; then
    "$HOME/.config/.startup_work" &
  fi
}
work &

if [[ $DESKTOP_SESSION = "ubuntu-xorg" ]]; then
  return
fi

other_wm() {
  if command -v picom &>/dev/null; then  
    picom &>/dev/null &
  fi

  if command -v feh &>/dev/null; then
    case "$(hostname)" in
      hagane)
        set_wall 2 ;;
      *)
        set_wall ;;
    esac
  fi

  if command -v wal &>/dev/null; then
    wal -R &
  fi

  ##to import env variables to dbus
  # dbus-update-activation-environment --systemd DBUS_SESSION_BUS_ADDRESS DISPLAY XAUTHORITY

  ## dunst is started by dbus-daemon now
  ## the display manager is also taken care of by dbus, in case you want to change to startx, havent tested

  [[ -n $(command -v dunst) ]] &&
    dunst &


  if [[ -n $(command -v fcitx) ]]; then
    export GTK_IM_MODULE=fcitx
    export QT_IM_MODULE=fcitx
    export SDL_IM_MODULE=fcitx
    export XMODIFIERS=@im=fcitx
    export XIM_PROGRAM=fcitx
    fcitx --replace -d &>/dev/null &
  fi

  if command -v xscreensaver &>/dev/null; then
    xscreensaver --no-splash &>/dev/null &
  fi
}
other_wm &

rclone_mounts() {
  if command -v rclone &>/dev/null || [[ ! -f "$HOME/.config/remotes" ]]; then
    return
  fi
  . "$HOME/.config/remotes"
}
rclone_mounts &

status_bar() {
  if [[ $DESKTOP_SESSION != "dwm" ]]; then
    return
  fi

  if command -v pacman &>/dev/null; then
    dwmstatus-pacman &
  fi

  if command -v apt &>/dev/null; then
    dwmstatus-apt &
  fi
}
status_bar &




# NOTE: the systemd should do this
# [[ -n $(command -v autorandr) ]] &&
# 	autorandr --change &>/dev/null &

hacks() {
  if [[ -f /usr/lib/polkit-kde-authentication-agent-1 ]]; then
    /usr/lib/polkit-kde-authentication-agent-1 &
  fi

  if [[ -f /usr/lib/polkit-gnome-authentication-agent-1 ]]; then
    /usr/lib/polkit-gnome-authentication-agent-1 &
  fi
}

