#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/backlight.h>
#include "./latam_colemak.h"

#define default 0
#define colemak_emu 1
#define mac 2
#define lower 3
#define raise 4
#define adjust 5


// https://zmk.dev/docs/keymaps/behaviors/mod-tap
&mt {
    quick_tap_ms = <150>;
};
&lt {
    quick_tap_ms = <150>;
};

/ {
    // https://zmk.dev/docs/keymaps/behaviors
    // https://zmk.dev/docs/keymaps/behaviors/mod-morph
    behaviors {
      #include "macros.dtsi"
      #include "version.dtsi"
      #ifndef VERSION_MACRO
      macro_ver: macro_ver {
        compatible = "zmk,behavior-macro";
        label = "macro_version";
        #binding-cells = <0>;
        bindings = <&kp RET>;
      };
      #endif

      //https://zmk.dev/docs/keymaps/behaviors/hold-tap#hold-tap
      hm: homerow_mods {
          compatible = "zmk,behavior-hold-tap";
          label = "HOMEROW_MODS";
          #binding-cells = <2>;
          tapping-term-ms = <200>;
          quick_tap_ms = <175>;  
          flavor = "tap-preferred";
          bindings = <&kp>, <&kp>;
      };
    };

  keymap {
    compatible = "zmk,keymap";
    // NOTE:
    // you only need to flash the left keyboard
    // flash guide
    // https://www.youtube.com/watch?v=IDayf7YPLsg

    // list of keycodes
    // https://zmk.dev/docs/keymaps/list-of-keycodes
     
    // modifiers
    // https://zmk.dev/docs/keymaps/modifiers

    //NOTE: keycodes
    // https://zmk.dev/docs/keymaps/list-of-keycodes

    default {
      bindings = <
        &none             &kp LG(N1)     &kp LG(N2) &kp LG(N3) &kp LG(N4) &kp LG(N5) &tog colemak_emu                                                                                  &tog mac &kp LG(N6) &kp LG(N7) &kp LG(N8) &kp LG(N9) &kp LG(N0)   &kp C_MUTE
        &kp TAB           &kp LC_Q       &kp LC_W   &kp LC_F   &kp LC_P   &kp LC_G   &bootloader                                                                                       &none    &kp LC_J   &kp LC_L   &kp LC_U   &kp LC_Y   &kp LC_NTIL  &kp LC_ACU 
        &kp ESC           &kp LC_A       &kp LC_R   &kp LC_S   &kp LC_T   &kp LC_D   &none                        &lt raise F5 &kp LS(LALT) &mt RALT F11  &mt RCTRL F12                &none    &kp LC_H   &kp LC_N   &kp LC_E   &kp LC_I   &kp LC_O     &kp LC_SQT
        &mt LSHFT LC_LBRC &kp LC_Z       &kp LC_X   &kp LC_C   &kp LC_V   &kp LC_B                                             &kp HOME     &kp PG_UP                                           &kp LC_K   &kp LC_M   &kp COMMA  &kp DOT    &kp LC_MINUS &mt RSHFT LC_RBRC
        &mo adjust        &kp LC_PIPE    &kp CAPS   &kp LEFT   &kp RIGHT                          &mt LCTRL BSPC &mt LALT DEL  &kp END      &kp PG_DN &mt LGUI ENTER &lt lower SPACE                       &kp UP     &kp DOWN   &none      &kp LC_PLUS  &mo adjust
      >;
    };
    mac {
      bindings = <
        &trans &trans &trans &trans &trans &trans &trans                                                      &trans &trans &trans &trans &trans &trans &trans
        &trans &trans &trans &trans &trans &trans &trans                                                      &trans &trans &trans &trans &trans &trans &trans
        &trans &trans &trans &trans &trans &trans &trans                &trans &trans &trans &trans           &trans &trans &trans &trans &trans &trans &trans 
        &trans &trans &trans &trans &trans &trans                            &trans &trans                           &trans &trans &trans &trans &trans &trans
        &trans &trans &trans &trans &trans                 &mt LGUI BSPC &trans &trans &trans &trans &trans                 &trans &trans &trans &trans &trans
      >;
    };
    colemak_emu {
      bindings = <
        &none          &trans   &trans &trans &trans &trans &trans                                                         &trans   &trans &trans &trans    &trans  &trans     &trans
        &trans         &kp Q    &kp W  &kp F  &kp P  &kp G  &bootloader                                                    &none    &kp J  &kp L  &kp U     &kp Y   &kp COLON  &kp LBRC
        &trans         &kp A    &kp R  &kp S  &kp T  &kp D  &none                        &trans &trans &trans  &trans      &none    &kp H  &kp N  &kp E     &kp I   &kp O      &kp QUOT
        &mt LSHFT LBRC &kp Z    &kp X  &kp C  &kp V  &kp B                                      &trans &trans                       &kp K  &kp M  &kp COMMA &kp DOT &kp MINUS  &mt RSHFT RBRC
        &trans         &kp PIPE &trans &trans &trans                          &trans &trans &trans  &trans &trans &trans                   &trans &trans    &trans  &kp PLUS   &trans
      >;
    };
    lower {
      bindings = <
        &trans &trans     &trans     &trans     &trans       &trans     &trans                                                              &trans &trans      &trans      &trans     &trans     &trans      &trans
        &trans &kp LS(N1) &kp LS(N2) &kp LS(N3) &kp LS(N4)   &kp LS(N5) &none                                                               &none  &kp LS(N6)  &kp LS(N7)  &kp LS(N8) &kp LS(N9) &kp LS(N0)  &kp LC_GRAVE
        &trans &kp N1     &kp N2     &kp N3     &kp N4       &kp N5     &none               &trans &trans &trans &trans                     &none  &kp N6      &kp N7      &kp N8     &kp N9     &kp N0      &kp LC_IQUE
        &trans &kp LC_LT  &kp LC_AT  &kp LC_GT  &kp LC_CARET &trans                                &trans &trans                                   &kp LC_BSLH &kp LC_PIPE &trans     &trans     &kp LC_PLUS &trans
        &trans &trans     &trans     &trans     &trans                           &kp LC(BSPC) &kp LC(DEL) &trans &trans &trans &trans                          &trans      &trans     &trans     &trans      &trans
      >;
    };
    raise {
      bindings = <
        &trans &trans &trans &trans  &trans  &trans        &none                                                  &none &trans   &trans   &trans &trans    &trans  &trans
        &trans &kp F1 &kp F2 &kp F3  &kp F4  &kp F5        &tog 1                                                 &mo 3 &kp F6   &kp F7   &kp F8 &kp F9    &kp F10 &trans
        &trans &trans &trans &kp F11 &kp F12 &kp LS(PSCRN) &none           &trans &trans &trans &trans            &none &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans  &trans
        &trans &trans &trans &trans &trans   &trans                               &trans &trans                         &trans   &trans   &trans &trans    &trans  &trans
        &trans &trans &trans &trans &trans                          &trans &trans &trans &trans &trans &trans                    &trans   &trans &trans    &trans  &trans
      >;
    };
    adjust {
      bindings = <
        &none &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &none                                                               &trans                 &none &none &none &none &none &none
        &none &none        &none        &none        &none        &none        &bootloader                                                         &bootloader            &none &none &none &none &none &none
        &none &none        &kp C_MUTE   &kp C_VOL_DN &kp C_VOL_UP &none        &none                &none &none &bt BT_CLR &none                   &rgb_ug RGB_MEFS_CMD 5 &none &none &none &none &none &none
        &none &none        &none        &none        &macro_ver   &none                                     &none &none                                                   &none &none &none &none &none &none
        &none &none        &none        &none        &none                                   &none &none &none &none  &bl BL_TOG &rgb_ug RGB_TOG                  &bl BL_INC   &bl BL_DEC   &none &none &none
      >;
    };
    // default_layer {
    //   bindings = <
    //     &kp EQUAL &kp N1    &kp N2   &kp N3   &kp N4     &kp N5 &tog 1                                                           &mo 3 &kp N6 &kp N7 &kp N8    &kp N9   &kp N0   &kp MINUS
    //     &kp TAB   &kp Q     &kp W    &kp E    &kp R      &kp T  &none                                                            &none &kp Y  &kp U  &kp I     &kp O    &kp P    &kp BSLH
    //     &kp ESC   &kp A     &kp S    &kp D    &kp F      &kp G  &none           &kp LCTRL &kp LALT &kp LGUI  &kp RCTRL           &none &kp H  &kp J  &kp K     &kp L    &kp SEMI &kp SQT
    //     &kp LSHFT &kp Z     &kp X    &kp C    &kp V      &kp B                            &kp HOME &kp PG_UP                           &kp N  &kp M  &kp COMMA &kp DOT  &kp FSLH &kp RSHFT
    //     &mo 2     &kp GRAVE &kp CAPS &kp LEFT &kp RIGHT                &kp BSPC &kp DEL   &kp END  &kp PG_DN &kp ENTER &kp SPACE              &kp UP &kp DOWN  &kp LBKT &kp RBKT &mo 2
    //   >;
    // };
    // keypad {
    //   bindings = <
    //     &kp EQUAL &kp N1    &kp N2   &kp N3   &kp N4     &kp N5 &trans                                                           &mo 3 &kp N6 &kp KP_NUM &kp KP_EQUAL &kp KP_DIVIDE &kp KP_MULTIPLY &kp MINUS
    //     &kp TAB   &kp Q     &kp W    &kp E    &kp R      &kp T  &none                                                            &none &kp Y  &kp KP_N7  &kp KP_N8    &kp KP_N9     &kp KP_MINUS    &kp BSLH
    //     &kp ESC   &kp A     &kp S    &kp D    &kp F      &kp G  &none           &kp LCTRL &kp LALT &kp LGUI  &kp RCTRL           &none &kp H  &kp KP_N4  &kp KP_N5    &kp KP_N6     &kp KP_PLUS     &kp SQT
    //     &kp LSHFT &kp Z     &kp X    &kp C    &kp V      &kp B                            &kp HOME &kp PG_UP                           &kp N  &kp KP_N1  &kp KP_N2    &kp KP_N3     &kp KP_ENTER    &kp RSHFT
    //     &mo 2     &kp GRAVE &kp CAPS &kp LEFT &kp RIGHT                &kp BSPC &kp DEL   &kp END  &kp PG_DN &kp ENTER &kp KP_N0              &kp UP     &kp DOWN     &kp KP_DOT    &kp RBKT        &mo 2
    //   >;
    // };
    // fn {
    //   bindings = <
    //     &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6 &tog 1                                           &mo 3 &kp F7 &kp F8 &kp F9 &kp F10 &kp F11 &kp F12
    //     &trans &trans &trans &trans &trans &trans  &none                                           &none &trans &trans &trans &trans  &trans  &trans
    //     &trans &trans &trans &trans &trans &trans  &none        &trans &trans &trans &trans        &none &trans &trans &trans &trans  &trans  &trans
    //     &trans &trans &trans &trans &trans &trans                      &trans &trans                     &trans &trans &trans &trans  &trans  &trans
    //     &trans &trans &trans &trans &trans               &trans &trans &trans &trans &trans &trans              &trans &trans &trans  &trans  &trans
    //   >;
    // };
  };
};
